<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starry sky</title>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="(k,v) in datalist">
                {{v}}：{{k}}骨灰盒
            </li>
        </ol>
    </div>
    <script src="JavaScript/vue.js"></script>
    <script src="JavaScript/main.js"></script>
</body>
</html>
